<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" />

  <include file="$(find franka_gripper)/launch/franka_gripper.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>
  <include file="$(find franka_control)/launch/franka_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="true" />
  </include>
  <include file="$(find panda_moveit_config)/launch/move_group.launch">
    <arg name="load_gripper" value="true" />
  </include>
  <rosparam command="load" file="$(find icra18)/config/controllers.yaml" />
  <node name="demo" pkg="icra18" type="demo.py" output="screen" required="true">
    <rosparam param="demos">[power, vga, usb, hdmi]</rosparam>
    <rosparam param="controllers">[plug_in_controller, position_joint_trajectory_controller]</rosparam>
  </node>
</launch>
